<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084950360300-av8u8bf9vfgi33nga9po62efkob394ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084950360300-av8u8bf9vfgi33nga9po62efkob394ea</string>
	<key>API_KEY</key>
	<string>AIzaSyDcyxeVgajU-hKO0tCH7GnOZ-oG0YwD-VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1084950360300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.MemeGenie</string>
	<key>PROJECT_ID</key>
	<string>memegenie-ae7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>memegenie-ae7bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084950360300:ios:44d09e6f2d3d83080bf5c9</string>
	<key>DATABASE_URL</key>
	<string>https://memegenie-ae7bf.firebaseio.com</string>
</dict>
</plist>